.square {
  background-color: var(--quadrado-fundo);
  color: var(--texto);
  border: none;
  font-size: 30px;
  font-weight: bold;
  height: 65px;
  width: 65px;
  cursor: pointer;
}

.square:hover {
  opacity: 0.8;
}

/* Quadrado Vencedor */
.vencedor {
  background-color: var(--vencedor) !important;
  color: #ffffff !important; /*o important sobrepõe todos os css*/
}