.square {
  background: var(--fundo-claro);
  border: 1px solid var(--borda-quadrado);
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  width: 34px;
  cursor: pointer;
}


.vencedor {
  background-color: var(--cor-vencedor) !important;  /*o important coloca essa tag como prioridade, ou seja, sobrepoe todos os outrs css*/
  color: var(--cor-quadrado);
}

.vencedor_escuro {
background-color: var(--cor-vencedor-escuro);
color: var(--cor-quadrado);
}