/* Container principal do jogo */
.game {
  padding: 20px;
  background-color: var(--fundo-claro);
  color: var(--cor-principal);
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

/* Regras aplicadas no Tema Escuro */
.game.dark {
  background-color: var(--fundo-escuro);
  color: var(--cor-modo-escuro);
}

.game.dark button {
  background-color: var(--cor-botao);
  color: var(--cor-modo-escuro);
  border: 1px solid var(--borda-botao);
  cursor: pointer;
}

.game.dark button:hover {
  background-color: var(--hover-botao);
}