:root {
  /* Modo Claro */
  --fundo: #f4f4f4;
  --texto: #000000;
  --borda-red: #e63946;
  --quadrado-fundo: #ffffff;
  --vencedor: #2ecc71;
}

[data-theme='dark'] { /*o "data-theme" faz com que esse css possa ser aplicado em diversos componentes, se fosse um game.dark iria se aplicado só no game.*/
  /* Modo Escuro */
  --fundo: #0d0d0d;
  --texto: #ffffff;
  --borda-red: #e63946;
  --quadrado-fundo: #1a1a1a;
  --vencedor: #27ae60;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--fundo);
  color: var(--texto);
}